@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Bai Jamjuree', sans-serif;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    background-image: url(./assets/bg-header-desktop.png);
    background-repeat: no-repeat;
}

.logo__wrapper {
    width: 8%;
    margin: 60px auto;
}

h1, p {
    /* text-align: center; */
    line-height: 2.0;
}

p {
    font-size: 18px;
    color: hsl(201, 11%, 66%);
}

h1, h2, h4 {
    font-size: 24px;
    color: hsl(210, 10%, 33%);
}

.buttons {
    display: flex;
}

.download__button {
    padding: 30px 60px;
    margin: 15px 5px;
    border-radius: 50px;
    border: none;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}

.ios__button {
    background-color: hsl(171, 66%, 44%);
}

.mac__button {
    background-color: hsl(233, 100%, 69%);
}

.section__heading {
    text-align: center;
    margin: 100px auto;
}

.computer__wrapper {
    width: 800px;
    margin-left: -200px;
}

.section__features {
    display: flex;
    justify-content: center;
}

.features {
    display: flex;
    width: 60%;
    justify-content: center;
    flex-direction: column;
    margin-left: 200px;
}

.feature__details {
    margin-bottom: 50px;
}

.img-device__wrapper {
    width: 50%;
    margin: auto;
}

.tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: auto;
}

.tool-img__wrapper {
    width: 60px;
    margin-bottom: 50px;
}

.tools__detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
}

.tools__detail--text {
    text-align: center;
}

.company__logos {
    display: flex;
    margin: 200px auto;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
}

#webpage-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

footer {
    width: 1200px;
    margin: auto;
}

.social-media__profiles {
    display: flex;
    width: 10%;
    align-items: center;
    justify-content: space-between;
}
 
.social__icon {
    margin-left: 20px;
}

.main__footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__links {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    align-items: center;
}

.footer__link {
    margin: 0 20px;
    font-size: 18px;
}

@media (max-width: 768px) {
    header {
        background-image: url(./assets/bg-header-mobile.png);
        background-repeat: repeat-x;
    }

    body {
        overflow-x: hidden;
    }

    .section__features {
        margin: auto;
        flex-direction: column;
    }

    .computer__wrapper {
        width: 500px;
        margin: 100px auto;
    }

    .section__heading {
        width: 650px;
    }

    .features {
        margin: 0 auto;
    }

    h1, h2, h4, p {
        text-align: center;
    }
    
    .img-device__wrapper {
        width: 80%;
    }

    .tools {
        flex-direction: column;
        max-width: 700px;
        width: 100%;
    }

    .tools__detail {
        margin: 50px auto;
    }

    .tool-img__wrapper {
        width: 50px;
    }

    .company__logos {
        flex-direction: column;
        max-width: 700px;
        width: 100%;
    }

    .company__logo {
        margin: 50px auto;
        width: 30%;
    }

    .buttons {
        flex-direction: column;
    }

    footer {
       max-width: 700px;
       width: 100%;
    }

    .main__footer {
        flex-direction: column;
    }

    .footer__links {
        flex-direction: column;
        margin-top: 50px;
    }

    .footer__link {
        margin: 10px auto;
    }

    .social-media__profiles {
        margin: 60px auto;
        width: 60%;
    }
}